body {
  scroll-behavior: smooth;
  margin: 0;
  box-size: box-border;
  scrollbar-width: none;
}
@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}
body body::-webkit-scrollbar {
  display: none;
}

a {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

input {
  font-family: "Roboto", sans-serif;
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(38, 38, 38);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
