.containerButton {
  width: 16rem;
  margin-bottom: 2.5rem;
}

.pizzas--container {
  margin: auto;
  justify-content: center;
  display: flex;
}

.pizzas--top {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  gap: 2rem;
}

.pizzas--search {
  padding: 0.5rem;
  width: 16rem;
  border-radius: 0.5rem;
}

/* Input Form Styles */

/* .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
} */

.form {
  display: flex;
  justify-content: center;
}

.form-group-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.login--form-control {
  padding: 0.5rem;
  width: 18rem;
  margin-bottom: 0.5rem;
}

.pizzaName--form-control {
  padding: 0.5rem;
  width: 32rem;
  margin-bottom: 0.5rem;
}

.ingredients--form-control {
  padding: 0.5rem;
  width: 32rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  resize: none;
}

.recipe--form-control {
  padding: 0.5rem;
  width: 32rem;
  height: 12rem;
  margin-bottom: 0.5rem;
  resize: none;
}

.login--button {
  margin-top: 1rem;
  width: 19.25rem;
}

.login--button-back {
  margin-top: 1rem;
  width: 8rem;
}

.login--button-back-mobile {
  margin-top: 1rem;
  width: 19.25rem;
  display: none;
}

.login--button-blue {
  margin-top: 1rem;
  width: 19.25rem;
  background-color: rgb(29 161 242);
}

.login--button-blue:hover {
  margin-top: 1rem;
  width: 19.25rem;
  background-color: rgb(39 172 255);
}

/* View Pizza Page Styles */

.pizzas--Box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  flex-wrap: wrap;
  margin: auto;
}

/* View Pizza Media Queries */

@media screen and (max-width: 1340px) {
  .pizzas--Box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .pizzas--Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pizzas--top {
    flex-direction: column;
    gap: 0rem;
  }

  .pizzas--search {
    padding: 0.5rem;
    width: 16rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
  }

  .form {
    width: 18rem;
    margin: auto;
  }
  .login--button-back {
    margin-top: 1rem;
    width: 19.25rem;
    display: none;
  }
  .login--button-back-mobile {
    margin-top: 1rem;
    width: 19.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-group-buttons {
    flex-direction: column;
  }

  .pizzaName--form-control {
    width: 18rem;
    margin: auto;
  }

  .ingredients--form-control {
    width: 18rem;
    margin: 0.5rem auto;
  }

  .recipe--form-control {
    width: 18rem;
    margin: auto;
  }
}
